{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<style>
body {background-image: url(static/bg_crumpled.png)}
button {height: 50px, width: 250px;}
.list-group-item {background-color: rgba(255, 255, 255, 0.5);}
.toptitle {margin-bottom: 5rem;}
</style>
<h1 align="center" class="toptitle">Тестовый этап олимпиады по информатике</h1>
<div align = center>
<h2 class="toptitle">Вам предстоит решить две задачи в форме функций.
<p></p>Не изменяйте названия функций, данные на сайте.
<p></p>Задачи должны быть решены без использования библиотек.
<p></p>Каждая задача проходит по 100 случайных тестов.</h2>
<h2>Язык - Python 3.8</h2>
</div>
{% endblock %}
